.LoginSignUp-title {
  margin-top: 1em;
  font-weight: 200;
}

.LoginSignUp-container {
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20em;
  height: 25em;
  margin: auto;
  margin-top: 5em;
}

.LoginSignUp-toggle-btns > button{
  border: none;
  padding: 0.5em;
  width: 5em;
}

.LoginSignUp-error {
  background-color: lightcoral;
  color: white;
  text-align: center;
  padding: 1.3%;
  border-radius: 5px;
  width: 80%;
  margin: 1.3% 0%;
}