.NavBar {
  background-color: rgba(250, 250, 250, 0.5);
  width: auto;
  padding: 1%;
}

.NavBar-right {
  float: right;
  display: flex;
}

.NavBar-right > a {
  margin-left: 1em;
}

.NavBar a {
  text-decoration: none;
}

.NavBar a:visited {
  color: black;
}

.NavBar a:hover {
  color: lightsteelblue;
  transition: ease-in 0.2s;
}
